[Unit]
Description=picard api.py

[Service]
Type=simple
WorkingDirectory=/souvik.me/website/projects/picard/server/picard/api
Environment="PICARD_PREFIX=/picard/api/" PICARD_PORT=8991
ExecStart=/usr/bin/python3.4 /souvik.me/website/projects/picard/server/picard/api/api.py

[Install]
WantedBy=multi-user.target
